body {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  background-color: #010101;
  font-family: "Helvetica", sans-serif;
  font-family: "Helvetica Light", sans-serif;
  z-index: -1;
  color: #fcfcfc;
}

.navbar {
  color: #fcfcfc;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.nav-info {
  border: 1px solid red;
}


.container {
  display: flex;
  border: 1px solid red;
}

.footer {
  display: flex;
  grid-column: 1 1;
  position: relative;
  border: 1px solid red;
}

.footer img {
  border: 1px solid red;
}

.gas-safe {
  display: flex;
  max-width: 250px;
  max-height: 250px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: "./assets/gas-safe.png";

}

.logo {
  display: flex;
  border: 1px solid red;
  object-fit: contain;
  flex-wrap: wrap;
}

.logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.title-piece {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.title-piece img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.primary-heading {
  border: 1px solid red;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  object-fit: cover;
  width: 25%;
}

form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 50%;
  height: auto;
  font-size: 16px;
}

input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

:focus {
  border: 2px solid #f95a05;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:focus {
  border: 2px solid #f85906;
}
label {
  margin-top: 1rem;
}

input[type="submit"] {
  margin-top: 2rem;
  height: 2rem;
  width: 100px;
  cursor: pointer;
  background: #f95a05;
  color: white;
  border: none;
  
}

@media (max-width: 1059px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .nav-info img{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
  }

}

/* @media (max-width: 620px) {
  .nav-info img {
    max-width: 50%;
  }
} */

@media (max-width: 615px) {
  .title-piece {
    width: 100%;
    height: auto;
    color: #f85906;
  }

  .title-piece img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
  }

  .logo {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    width: 90px;
    justify-content: center;
    align-items: center;
  }
}
