body {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  background-color: #010101;
  font-family: "Helvetica", sans-serif;
  font-family: "Helvetica Light", sans-serif;
  z-index: -1;
  color: #fcfcfc;
}

.navbar {
  color: #fcfcfc;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.container {
  display: flex;
  border: 1px solid red;

}

.about {
  color: #fcfcfc;
}

.contact {
  color: #fcfcfc;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

/* .contact-number {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-right: 1rem;
}

.contact-email {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
} */

.conslutation {
  display: flex;
  justify-content: center;
  align-items: start;
}

.logo {
  display: flex;
  border: 1px solid red;
  object-fit: contain;
  flex-wrap: wrap;
}

.logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.title-piece-img {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid red; */
}

@media (max-width: 613px) {
  .navbar {
    width: 100%;
    object-fit: scale-down;
  }

  .title-piece-img img{
    object-fit: contain;
  }
}