body {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  background-color: #010101;
  font-family: "Helvetica", sans-serif;
  font-family: "Helvetica Light", sans-serif;
  z-index: -1;
  color: #fcfcfc;
}

.navbar {
  color: #fcfcfc;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.container {
  display: flex;
  border: 1px solid red;
}

.about {
  color: #fcfcfc;
}

.footer {
  color: #fcfcfc;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border: 1px solid red;
}

.footer img {
  border: 1px solid red;
}

.contact {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  border: 1px solid red;
}

.logo {
  display: flex;
  border: 1px solid red;
  object-fit: contain;
  flex-wrap: wrap;
}

.logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.title-piece {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.title-piece img {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid red; */
}

@media (max-width: 613px) {
  .title-piece {
    width: 100%;
    height: auto;
  }

  .title-piece img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
  }

  .logo {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    width: 90px;
    justify-content: center;
    align-items: center;
  }

  .contact {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
